.header {
    grid-area: h;
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.header img {
    width: 60px;
}

.loginBlock {
    align-self: center;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}